[submodule "bgfx"]
	path = bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "bimg"]
	path = bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "bx"]
	path = bx
	url = https://github.com/bkaradzic/bx.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "PerlinNoise"]
	path = PerlinNoise
	url = https://github.com/Reputeless/PerlinNoise.git
